@{
  Layout = null;
}
@model bool

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/auth.css">
  <title>Вход</title>
</head>
<body>
  <canvas class="background" id="bg-canvas"></canvas>
  <section>
    <div class="form-box">
      @if (Model)
      {
      <p id="fail-notify">Неверный логин или пароль</p>
      }
      <div class="form-value">
        <form method="post" asp-controller="Main" asp-action="LoginPost">          
          <h2>Вход</h2>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="text" name="email" id="email1" required>
            <label for="">Логин</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" id="pass1" required>
            <label for="">Пароль</label>
          </div>
          @* <div class="forget">
            <a href="#">Забыли пароль?</a>
          </div> *@
          <button>Войти</button>
        </form>
      </div>
    </div>
  </section>
  <style>
    #bg-canvas {
      position: absolute;
      z-index: 0;
    }
    #fail-notify {
      display: block;
      color: #d5020c;
      background-color: #ffffffaa;
      border-radius: 5px;
      box-shadow: 0px 0px 5px #ffffffff;
      width: fit-content;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 30px;
      max-height: 20px;
      transition: 200ms;
      overflow: hidden;
    }
  </style>
</body>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>

<script>
  window.onload = function() {
    Particles.init({
        selector: '.background',
        maxParticles: 50,
        connectParticles: 'true',
        speed: 1,
        minDistance: 140,
        sizeVariations: 8,
        color: '#87c3fa',
    });
  }
  const notify = document.getElementById('fail-notify');
  let lstr = () => {
    notify.style.maxHeight = "0px";
  }
  document.getElementById('email1').addEventListener('input', lstr);
  document.getElementById('pass1').addEventListener('input', lstr);
</script>

</html>