
.scroll-table tbody td {
	font-size: 16px;
}

.st-container-column {
	padding: 2px 5px !important;
}

.st-actions-column {
    width: 40px;
}

.assign-button {
	height: 28px;
	width: 100%;
}

.ctxmenu {
	padding: 5px;
}

#dev-add-menu {
	width: 420px;
}
#dev-sel-addr, #dev-sel-pass {
	width: 100%;
}