
h3 {
	font-weight: initial;
}

td {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

.inset97 {
	width: 97%;
	margin: 7px auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.centhdr {
	width: 100%;
	padding: 3px;
}

.centhdr * {
	font-weight: bold;
	width: fit-content;
	margin: 0 auto;
}

.fc {
	font-weight: lighter;
	font-size: 16px;
	width: 50%;
}

.sc {
	font-weight: initial;
	font-size: 16px;
	width: 50%;
	padding-left: 5px;
}

.tc {
	width: 33.333%;
}

.ec {
	width: 33.333%;
}

.list1 {
	width: 50%;
}

.imgsel {
	cursor: pointer;
	width: 100%;
	height: 100%;
	transition: 200ms;
}

.chdr {
	margin: 0 auto;
	width: fit-content;
}

.chdr-ovl {
	margin: 5px auto;
	width: 75%;
	border-bottom: solid 1px #777;
}

.ptrhover {
	cursor: pointer;
	width: inherit;
	transition: 200ms;
	border-radius: 4px;
}

.openev {
	height: 0%;
	overflow: hidden;
	transition: 200ms;
}

.openev[data-value="open"] {
	height: 100%;
}

.expandev {
	height: fit-content;
}

.expandev[data-value="open"] {
	height: unset;
}

.hideev[data-value="collapse"] {
	display: none;
}

.row-br {
	height: 0px;
	border-top: solid 1px #aaa;
	margin: 4px 0px;
	width: 100%;
}

.btn-inactive {
	background-color: #aaa !important;
	pointer-events: none !important;
}

.inline-text-input {
	transition: 200ms;
	border-bottom: solid 1px #0000 !important;
	border-radius: 2px;
}

.inline-text-input:hover,
.inline-text-input:focus {
	background-color: #fafafa;
	border-bottom-color: rgb(41, 63, 105) !important;
}

#main-c {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	top: 50px;
}

#main-hdr {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	position: fixed;
	z-index: 1;
	background-color: #fff;
	box-shadow: 0px 0px 10px #777;
}

#main-hdr a {
	display: inline-flex;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	align-items: center;
	text-decoration: none;
	color: #0d183a;
	transition: 200ms;
}

#main-hdr a:hover {
	background-color: #fafafa;
}

#settings-save-btn {
	margin-bottom: 10px;
}