
.st-title-column {
    min-width: 80px;
    width: fit-content;
}

.st-time-column {
    min-width: 60px;
}

.st-actions-column {
    width: 40px;
}

.time-field {
    margin: 2px 2px;
    text-align: center;
}

.inline-p {
    margin: auto 5px;
    font-size: 16px;
}

.daytime-name {
    margin-right: 15px;
}

.daytime-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ti-base {
    height: 24px;
    border-radius: 4px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 2px #ccc;
    outline: none;
    box-shadow: none;
    transition: 200ms;
}

.ti-base:focus,
.ti-base:hover {
    background-color: #f7f7f7;
    border-color: rgb(58, 92, 173);
    outline: none;
    box-shadow: none;
}

.daytime-ti {
    width: 56px;
    text-align: center;
}

.daytime-range {
    margin-right: 5px;
    margin-left: auto;
    width: fit-content;
}

#workshift-add-menu {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    min-width: 300px;
    padding: 15px;
}

#jobtitle_ti {
    margin-bottom: 10px;
}

#workshift-final-add-btn {
    margin-top: 7px;
}

.di-label {
    font-size: 12px;
}

.red-border {
    border-color: #da3f51;
}